<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Magage
  </a>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">DB Manage</a></li>
    <li><a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Contact Manage</a></li>
  </ul>
</div>