@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService _authorizationService

@{
  var result = await _authorizationService.AuthorizeAsync(this.User,"ViewManageMenu");
}
@if(result.Succeeded)
{
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Magage
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">DB Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">User Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Contact Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">Blog Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="Post" asp-area="Blog">Post Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="FileManager" asp-area="File">File Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="Product" asp-area="Product">Product Manage</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-controller="PCategory" asp-area="Product">Product Category Manage</a></li>
    </ul>
  </div>
}